NODE_ENV="development"
SITE_URL="http://localhost:3000"
API_VERSION="1"
SECRET=""
MONGODB_CONNECTION_STRING="mongodb://localhost:27017/skeleton"
REDIS_CONNECTION_STRING=""
SMTP_HOST=""
SMTP_PORT=""
SMTP_FROM_ADDRESS=""
SMTP_AUTH_USER=""
SMTP_AUTH_PASSWORD=""

LOG_FILE_PATH=""
LOG_FILE_LEVEL="error"

PYTHON_EXE_PATH="python"
CENSUS_AGGREGATOR_SCRIPT_PATH="./bin/census_aggregator.py"

MAPBOX_ACCESS_TOKEN = "uyijhijoiklm;.;lk"
MAPBOX_DRIVETIME_URL = "https://api.mapbox.com/isochrone/v1/mapbox/"
MAPBOX_GEOCODING_URL= "https://api.mapbox.com/geocoding/v5/mapbox.places/"
